.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-form {
  margin-left: 1em;
}

.App-submission-info {
  border: solid 1px #eee;
  margin-left: 1em;
  padding: 1em;
}

.App-queue {
  border: solid 1px #eee;
  margin-left: 1em;
  padding: 1em;
}

.App-recent {
  border: solid 1px #eee;
  margin-left: 1em;
  padding: 1em;
}

.App-test-cases {
  width: 100%;
}
.App-test-cases td:nth-child(1) {
  width: 10%;
}
.App-test-cases td:nth-child(2) {
  width: 20%;
}
.App-test-cases td:nth-child(3) {
  width: 70%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CodeMirror-mark-error {
  background: linear-gradient(transparent 70%, #ff9999 70%);
}
.CodeMirror-mark-warning {
  background: linear-gradient(transparent 70%, #cccc99 70%);
}

.JudgeStatus-failure {
  background-color: orange;
  color: white;
  font-size: 0.8em;
  padding: 2px 6px;
  border-radius: 4px;
}
